body {
    font-family: sans;
    background: url('img/bg.png') var(--bg);
    color: var(--fg);
}

/* font sizes */
h1, h2, h3, h4, h5 { margin: 0;}
h1 { font-size: 3.052rem; color: var(--h1); }
h2 { font-size: 2.441rem; color: var(--h2);}
h3 { font-size: 1.953rem; color: var(--h3);}
h4 { font-size: 1.563rem; color: var(--h4);}
h5 { font-size: 1.563rem; color: var(--h5);}
p { text-indent: 25px; }
p, li { font-size: 1.25rem; text-align: justify; }
/* end font sizes */

main {
    width: 450px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    background: var(--bg);
}

a {
    color: var(--bg);
    transition: ease 0.2s;
}

a:hover {
    color: var(--accent);
}

#title {
    display: flex;
    border-bottom: 3px solid var(--fg);
}

#title img {
    align-self: start;
    margin: auto;
}

#bio header, .projects header{
    margin-top: 20px;
    font-size: 1.25rem;
    font-style: italic;
    color: var(--dark);
}

.project-card {
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 20px;
    padding: 10px;
}

.project-card img {
    width: 100%;
    border-radius: 20px;
}
