html { font-size: 22px; }
body { font-family: chanticleer, serif; }

@font-face {
  font-family: chanticleer;
  src: url("/fnt/chanticleer.otf");

  font-display: swap;
}

iframe {
  margin-top: 18px;
}

pre {
  border-radius: 10px;
  background-color: #f3f3f3f3;
  padding: 10px;
  overflow: scroll;
  font-size: 12px;
}

main {
  width:min(100%, 800px);
  margin: 0 auto;
}

ul { padding: 0; }
ul li { list-style: none; }
p { text-align: justify; }

.email, a {
  color: #5b8499;
  text-decoration: underline;
}

.desc { font-size: 18px; }

.link-list li {
  list-style: square;
  margin-left: 20px;
}

.project {
  margin-left: 20px
}

.project div {
  display: flex;
}

.project div .title {
  order: 1;
  font-weight: bold;
}

.project div .link {
  order: 3;
}

.project div::after {
  background-image: radial-gradient(circle, currentcolor 1px, transparent 1.5px);
  background-position: bottom;
  background-size: 1ex 4.5px;
  background-repeat: space no-repeat;
  content: "";
  flex-grow: 1;
  height: 1em;
  order: 2;
}

.subtitle {
  font-variant: small-caps;
}

footer img {
  width: 48px;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#title {
  text-align: center;
}

#title img, #project-desc img {
  width: 100%;
  border-radius: 6px;
}

#title h1 {
  font-size: min(3.8rem, 10vw);
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

#project-title img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#links {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

@media (max-width: 425px), (pointer:none), (pointer:coarse) {
  .dot { display: none; }
  #links { flex-direction: column; align-items: center; }
}
